.container{
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    background-color: #ffffffd5;
    display: flex;
    justify-content: space-between;
    height: 100%;
    & .content{
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .title{
            font-size: 16px;
            font-weight: 500;
            color: #4a4a4a;
        }

        & .value{
            font-size: 28px;
            font-weight: 500;
            color: var(--primary-color);
        }
    }
}