<div class="container">
    <div class="title">Dashboard - <p-skeleton width="100px" height="30px"></p-skeleton></div>
    <p-skeleton width="300px" height="40px"></p-skeleton>
    <div class="skeleton-cards">
        <p-skeleton width="300px" height="160px"></p-skeleton>
        <p-skeleton width="300px" height="160px"></p-skeleton>
        <p-skeleton width="300px" height="160px"></p-skeleton>
        <p-skeleton width="300px" height="160px"></p-skeleton>
    </div>

    <div class="skeleton-charts">
        <p-skeleton width="50%" height="400px"></p-skeleton>
        <p-skeleton width="50%" height="400px"></p-skeleton>
    </div>
    <div class="skeleton-charts">
        <p-skeleton width="50%" height="400px"></p-skeleton>
        <p-skeleton width="50%" height="400px"></p-skeleton>
    </div>
</div>