.title{
    font-size: 24px;
    font-weight: 500;
    color: #2e2e2e;
    display: flex;
    gap: 10px;
}

.skeleton-cards{
    display: flex;
    gap: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skeleton-charts{
    display: flex;
    gap: 20px;
    width: 100%;
}