.side-bar-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    width: 250px;
    background-color: #F9F9F9;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    & p{
        font-size: 18px;
        font-weight: 600;
        color: var(--primary-color);
    }

    & .wrapper{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.x-button{
    display: none;
    justify-self: flex-end;
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.side-bar{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    & ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & li a{
            text-decoration: none;
            font-size: 16px;
            background-color: #9c9c9c0c;
            font-weight: 500;
            padding: 10px 15px;
            border-radius: 8px;
            display: block;
            color: #000;
            width: 100%;
        }

        & li a.active, & li a:hover{
            background-color: var(--primary-color);
            color: #ffffff;
        }
    }

}

@media (max-width: 768px) {
    .side-bar-container{
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: left 0.3s ease-in-out;
        background-color: #00000073;
    }

    .hamburguer{
        position: absolute;
        top: 20px;
        left: calc(100% + 20px);
        font-size: 24px;
        z-index: 1000;
        cursor: pointer;
    }

    .side-bar-container.open{
        left: 0;
    }

    .content-container{
        width: 60%;
        height: 100%;
        background-color: #F9F9F9;
    }

    .x-button{
        display: block;
    }
}