.container{
    display: flex;
    gap: 50px;
    height: 100%;
    & .meter-group-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 20%;
    }

    & .choro-container{
        width: 80%;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        & .meter-group-container{
            width: 100%;
            flex-direction: row;
            overflow-x: auto;
        }

        & .choro-container{
            width: 100%;
            height: 400px;
        }
    }
}