<div class="container">
    <p-skeleton width="400px" height="73px"></p-skeleton>
    <p-skeleton width="400px" height="73px"></p-skeleton>
    <p-skeleton width="400px" height="73px"></p-skeleton>
    <p-skeleton width="400px" height="73px"></p-skeleton>
    <p-skeleton width="400px" height="73px"></p-skeleton>
    <p-skeleton width="400px" height="73px"></p-skeleton>
    <p-skeleton width="400px" height="73px"></p-skeleton>
    <p-skeleton width="400px" height="73px"></p-skeleton>
    <p-skeleton width="400px" height="73px"></p-skeleton>
    <p-skeleton width="400px" height="73px"></p-skeleton>
</div>