.cards-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;

    & h1{
        font-size: 32px;
        font-weight: 700;
        color: #2e2e2e;
    }
}


@media (max-width: 450px) {
    app-site-card{
        width: 100%
    }
}
